/* Carousel */
.carousel-item {
  width: 100%;
  height: 450px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/* Nav */
.navbar {
   box-shadow: 0 2px 2px -2px rgba(0,0,0,.2);
}

/* Header */
header, contact-container, main {
  margin-top: 95px;
}
/* Button */
.btn-primary {
  background-color: #583574;
  border: none;
}

/* Container */
.container-fluid {
  margin: 2rem;
  text-align: center;
}

/* Text Styles */
h1 {
  font-family: 'Raleway', sans-serif;
  font-size: 30px;
  font-weight: 800;
  text-transform: uppercase;
  color: #583574;
}

h2 {
  font-family: 'Raleway', sans-serif;
  font-size: 30px;
  font-weight: 800;
  text-transform: lowercase;
  color: #583574;
  text-transform: uppercase;
}

p {
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #10001e;
}

/* Site-Wide Styles */

main {
  padding: 5% 0;
}

/* Team & Gallery Grid */

.grid-structure {
  text-align: center;
}

.page-heading {
  padding-bottom: 3%;
}

.img-description {
  padding: 3% 0 10% 0;
}

/* ----------------- START 768PX MEDIA QUERY ----------------- */

@media (min-width:768px) {

.page-heading {
  text-align: left;
}

}

/* ----------------- END 768PX MEDIA QUERY ----------------- */

/* Contact */

.contact-info {
  max-width: 65%;
  margin: 0 auto;
}

form {
  max-width: 50%;
  margin: 0 auto;
}

.form-container {
  max-width: 65%;
  margin: 0 auto;
  background-color: #9b94ad;
  padding: 5% 0;
}

label {
  color: #10001e;
  font-weight: 600;
}

.form-control {
  background-color: #fcfcfc;
}

/* ----------------- START 1150PX MEDIA QUERY ----------------- */

@media (min-width:1150px) {

.contact-container {
  width: 1200px;
  margin: 0 auto;
}

}

/* ----------------- END 1150PX MEDIA QUERY ----------------- */
